---
import Logo from './Logo.astro'
import Logos from './Logos.astro'
---

<footer class="flex h-28 p-10 flex-col  gap-y-10 bg-orange-900">
  <nav class="flex justify-end">
    <ul class="flex gap-x-2">

      <li class="text-sm px-4  mx-auto font-mono text-amber-400 ">
        Esta pagina esta hecha con  
          <Logos />
       

      </li>
      <li class="text-sm font-mono text-amber-300 hover:opacity-70">
        <button class="px-4 py-2 mx-auto bg-red-500 rounded-xl border-2 border-slate-900"><a href="/">Home</a></button>
        
      </li>
      <li class="text-sm font-mono text-slate-500 hover:opacity-70">
        <button class="px-4 py-2 mx-auto bg-green-500 rounded-md border-2 border-slate-900"><a href="/blog">Blog</a></button>
        
      </li>
    </ul>
  </nav>

</footer>
