

<div class="flex flex-row">
    <a href="https://astro.build/">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 32 32"><title>file_type_astro</title><path d="M5.9,18.847a7.507,7.507,0,0,0-.572,2.624,3.265,3.265,0,0,0,.551,1.553,7.427,7.427,0,0,0,2.093,1.681L13.1,28.119A7.332,7.332,0,0,0,15.2,29.287a3.239,3.239,0,0,0,1.5,0,7.381,7.381,0,0,0,2.117-1.16L24,24.711a7.512,7.512,0,0,0,2.117-1.688,3.241,3.241,0,0,0,.55-1.563,7.515,7.515,0,0,0-.587-2.643L21.547,4.551a3.973,3.973,0,0,0-.54-1.3,1.733,1.733,0,0,0-.7-.51,3.972,3.972,0,0,0-1.4-.122H13.005a3.932,3.932,0,0,0-1.4.125,1.713,1.713,0,0,0-.7.512,3.94,3.94,0,0,0-.535,1.3L5.9,18.848Zm13.24-13.2a3.329,3.329,0,0,1,.441,1.093l3.892,12.784a16.168,16.168,0,0,0-4.653-1.573L16.291,9.391a.331.331,0,0,0-.513-.169.323.323,0,0,0-.119.169l-2.5,8.557a16.14,16.14,0,0,0-4.674,1.579L12.393,6.743a3.281,3.281,0,0,1,.442-1.094,1.458,1.458,0,0,1,.582-.43,3.31,3.31,0,0,1,1.175-.1h2.793a3.314,3.314,0,0,1,1.176.1,1.454,1.454,0,0,1,.583.432ZM16.127,21.06a5.551,5.551,0,0,0,3.4-.923,2.8,2.8,0,0,1-.207,2.182A3.938,3.938,0,0,1,17.773,23.8c-.674.428-1.254.8-1.254,1.787a2.079,2.079,0,0,0,.209.914,2.49,2.49,0,0,1-1.535-2.3v-.061c0-.683,0-1.524-.962-1.524a1.028,1.028,0,0,0-.391.077,1.021,1.021,0,0,0-.552.551,1.03,1.03,0,0,0-.079.391,3.769,3.769,0,0,1-.988-2.644,4.206,4.206,0,0,1,.175-1.248c.4.757,1.92,1.32,3.731,1.32Z" style="fill:#ff5d01;fill-rule:evenodd"/></svg></a>


    <a href="https://www.cosmicjs.com/">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 509 500" fill="none">
        <path d="M198.942 172.131C210.987 161.524 222.106 150.916 234.151 141.273C224.885 134.523 216.547 128.737 208.208 122.951C198.016 131.63 187.824 141.273 177.632 150.916C187.824 154.773 195.236 162.488 198.942 172.131Z" fill="#3DBFF5"/>
        <path d="M169.345 221.419C191.641 221.479 209.763 203.179 209.822 180.545C209.88 157.91 191.853 139.512 169.557 139.452C147.261 139.392 129.139 157.693 129.081 180.327C129.022 202.962 147.049 221.359 169.345 221.419Z" fill="#3DBFF5"/>
        <path d="M205.035 408.818C147.774 440.607 98.2764 448.555 75.9542 426.699C44.8972 395.903 73.0426 315.436 140.98 233.976C130.304 230.995 121.569 223.048 116.717 213.114C17.7223 326.364 -26.9222 440.607 16.7517 483.324C52.6614 519.087 139.039 495.245 234.151 431.666C224.446 424.712 214.74 416.765 205.035 408.818Z" fill="#3DBFF5"/>
        <path d="M270.348 137.373C273.251 126.476 280.993 117.56 290.67 112.606C176.481 16.5085 60.3567 -26.0914 16.8101 16.5085C-18.9949 52.1736 4.22997 136.383 69.0661 229.508C76.8077 219.601 84.5493 210.685 92.2909 200.778C60.3567 144.308 51.6474 95.7642 73.9046 72.9782C105.839 42.2666 187.126 70.9968 270.348 137.373Z" fill="#3DBFF5"/>
        <path d="M352.707 163.934C348.939 173.869 340.461 181.818 331.041 185.792C345.171 200.695 358.358 214.605 369.662 229.508C376.256 220.566 382.85 211.624 387.56 202.682C377.198 189.766 364.952 176.85 352.707 163.934Z" fill="#3DBFF5"/>
        <path d="M322.966 204.918C345.499 204.918 363.337 186.925 363.337 163.934C363.337 140.944 345.499 122.951 322.966 122.951C300.434 122.951 282.595 140.944 282.595 163.934C282.595 185.926 300.434 204.918 322.966 204.918Z" fill="#3DBFF5"/>
        <path d="M433.365 73.5376C464.549 104.299 436.288 184.677 368.073 266.047C378.793 269.023 387.563 276.962 392.436 286.885C490.86 173.761 535.687 58.6529 491.835 15.9834C455.778 -18.7476 369.048 5.06793 274.521 68.576C284.266 75.5222 294.011 83.4607 303.756 91.3993C361.252 59.6452 410.951 51.7067 433.365 73.5376Z" fill="#3DBFF5"/>
        <path d="M316.969 319.672C303.127 333.522 288.363 346.382 274.521 358.254C283.749 365.178 292.054 371.114 301.282 377.049C314.2 366.168 326.196 354.296 339.115 341.436C328.964 337.479 321.582 329.565 316.969 319.672Z" fill="#3DBFF5"/>
        <path d="M347.411 278.575C325.114 278.512 306.99 296.81 306.929 319.445C306.868 342.079 324.893 360.479 347.189 360.541C369.485 360.604 387.609 342.306 387.671 319.672C387.732 297.037 369.707 278.637 347.411 278.575Z" fill="#3DBFF5"/>
        <path d="M177.631 314.208C163.502 299.305 150.314 285.395 139.01 270.492C132.416 279.434 125.822 288.376 121.112 297.317C132.416 310.234 143.72 323.15 155.966 336.066C159.734 326.13 167.27 318.182 177.631 314.208Z" fill="#3DBFF5"/>
        <path d="M439.835 270.492C432.12 280.363 424.404 289.248 416.688 299.119C448.516 355.387 457.196 402.771 434.048 425.476C402.22 456.077 321.203 427.45 238.257 362.297C235.363 373.156 227.647 382.041 218.002 386.976C332.777 482.731 448.516 526.166 491.918 483.718C527.604 447.193 504.456 362.297 439.835 270.492Z" fill="#3DBFF5"/>
        <path d="M226.182 336.281C226.24 313.647 208.213 295.25 185.917 295.19C163.62 295.13 145.499 313.431 145.441 336.065C145.382 358.7 163.41 377.097 185.706 377.157C208.002 377.216 226.124 358.916 226.182 336.281Z" fill="#3DBFF5"/>
        </svg></a>


        <a href="https://tailwindcss.com/">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 32 32"><title>file_type_tailwind</title><path d="M9,13.7q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q11.1,10.9,9,13.7ZM2,22.1q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q4.1,19.3,2,22.1Z" style="fill:#44a8b3"/></svg></a> 

        
        <a href="https://developer.mozilla.org/es/docs/Learn/JavaScript/First_steps/What_is_JavaScript">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 32 32" fill="none">
            <rect x="2" y="2" width="28" height="28" fill="#FFCA28"/>
            <path d="M19 25.2879L21.0615 23.9237C21.2231 24.4313 22.2462 25.6368 23.5385 25.6368C24.8308 25.6368 25.4308 24.931 25.4308 24.463C25.4308 23.1878 24.1112 22.7382 23.4774 22.5223C23.374 22.4871 23.289 22.4581 23.2308 22.4328C23.2009 22.4198 23.1558 22.4025 23.0979 22.3804C22.393 22.1111 19.7923 21.1175 19.7923 18.2373C19.7923 15.065 22.8538 14.7002 23.5462 14.7002C23.9991 14.7002 26.1769 14.7557 27.2615 16.7939L25.2615 18.1898C24.8231 17.3015 24.0946 17.0081 23.6462 17.0081C22.5385 17.0081 22.3077 17.8201 22.3077 18.1898C22.3077 19.227 23.5112 19.6919 24.5273 20.0844C24.7932 20.1871 25.0462 20.2848 25.2615 20.3866C26.3692 20.91 28 21.7666 28 24.463C28 25.8136 26.8672 28.0002 24.0154 28.0002C20.1846 28.0002 19.1692 25.7003 19 25.2879Z" fill="#3E3E3E"/>
            <path d="M9 25.5587L11.1487 24.1953C11.317 24.7026 11.9713 25.638 12.9205 25.638C13.8698 25.638 14.3557 24.663 14.3557 24.1953V15.0002H16.9982V24.1953C17.041 25.4636 16.3376 28.0002 13.2332 28.0002C10.379 28.0002 9.19242 26.3039 9 25.5587Z" fill="#3E3E3E"/>
            </svg></a>



</div>